@use '$lib/vars' as *;
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Spline+Sans:wght@300..700&display=swap');
* {
	padding: 0;
	margin: 0;
	font-family: 'Spline Sans Mono', monospace;
}
body {
	background-color: $background-color;
	color: $text-color;
	font-size: 16px;
}
main {
	padding-top: $header-height;
}
h1,
h2,
h3 {
	font-family: 'Chonburi', serif;
}
@media (max-width: 900px) {
	.site-header {
		box-shadow: 0 0 12px 0 rgba($text-color, 0.05);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba($structural-color, 0.7);
		backdrop-filter: blur(10px);
		a,
		button {
			color: $text-color;
		}
		a {
			text-decoration: none;
		}
		button {
			background: none;
			border: none;
		}
		/* button:disabled {
			display: none;
		} */
	}
	.mobile-site-header {
		/* box-shadow: 0 0 0 2px $special-color; */
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: $header-height;
		.logo {
			img {
				height: 48px;
			}
			a {
				display: flex;
				margin: 0 $header-margin;
			}
		}
		button {
			margin: $header-margin;
			background: rgba(0, 0, 0, 0.1);
			display: flex;
			height: 48px;
			width: 48px;
			align-items: center;
			justify-content: center;
		}
	}
	.main-navigation {
		height: 0;
		overflow: hidden;
		transition: height 500ms ease;
	}
	.nav-items {
		height: calc(100vh - $header-height);
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
	}
	.site-navigation {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		ul {
			list-style: none;
			display: flex;
			gap: 32px;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			li {
				width: 100%;
			}
			a {
				display: flex;
				justify-content: center;
				padding: $header-margin;
				font-weight: 500;
				transition:
					font-weight 200ms,
					color 200ms;
				&:hover {
					font-weight: 600;
					color: $special-color;
				}
			}
		}
	}
	.site-language {
		padding: $header-margin;
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		small {
			display: flex;
			gap: 6px;
			align-items: center;
			font-size: 16px;
		}
		nav {
			display: flex;
			gap: 6px;
		}
		button {
			display: flex;
			align-items: center;
			border-radius: 18px;
			cursor: pointer;
			font-size: 18px;
			padding: 0 14px;
			height: 36px;
			font-weight: 500;
			border: solid 2px $special-color;
			color: $special-color;
			gap: 2px;
			transition:
				background-color 200ms,
				color 200ms;
			&:disabled {
				cursor: not-allowed;
				background-color: $special-color;
				color: $structural-color;
			}
			svg {
				display: none;
			}
		}
	}

	.main-navigation.open {
		overflow-y: auto;
		height: calc(100vh - $header-height);
	}
}

@media (min-width: 900px) {
	.site-header {
		position: fixed;
		height: $header-height;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba($structural-color, 0.7);
		backdrop-filter: blur(10px);
		box-shadow: 0 0 12px 0 rgba($text-color, 0.05);
		/* box-shadow: 0 0 0 2px $special-color; */
	}
	.header-items {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 $header-margin;
		max-width: 1400px;
		margin: 0 auto;
		a,
		button {
			color: $text-color;
		}
		a {
			text-decoration: none;
		}
		button {
			background: none;
			border: none;
		}
		button:disabled {
			display: none;
		}
		.logo {
			img {
				height: 48px;
			}
			a {
				display: flex;
			}
		}
	}
	.site-language {
		display: flex;
		align-items: center;
		/* order: -1;  */
		small,
		button:disabled {
			display: none;
		}
		nav {
			display: flex;
		}
	}

	.mobile-site-header button {
		display: none;
	}
	.main-navigation {
		display: flex;
		height: 100%;
		nav {
			display: flex;
			height: 100%;
		}
	}
	.nav-items {
		display: flex;
		align-items: center;
		gap: 50px;
		ul,
		li,
		a {
			height: 100%;
		}
		ul {
			list-style: none;
			display: flex;
			align-items: center;
			gap: 48px;
		}
		a {
			font-weight: 500;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			height: 100%;
			transition:
				font-weight 200ms,
				color 200ms;
			&:hover {
				font-weight: 600;
				color: $special-color;
			}
		}
	}
	.site-language {
		nav:hover button {
			border-radius: 20px;
			background-color: $special-color;
			color: $structural-color;
		}
		button {
			display: flex;
			align-items: center;
			border-radius: 18px;
			cursor: pointer;
			font-size: 16px;
			background-color: transparent;
			padding: 0 14px 0px 14px;
			height: 36px;
			font-weight: 500;
			border: solid 2px $special-color;
			color: $special-color;
			gap: 4px;
			transition:
				background-color 100ms,
				color 100ms;
		}
	}
}
.site-footer {
	background-color: $structural-color;
	padding: 24px;
}
.footer-items {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	.copyright {
		font-size: 10px;
		color: $text-color;
		a {
			color: $text-color;
			text-decoration: underline rgba($text-color, 0.2);
			transition: text-decoration-color 500ms;

			&:hover {
				text-decoration-color: rgba($text-color, 0.8);
			}
		}
	}
}
